<body>
  <div class="container">
    <div class = "form">
        <p> Input: <%= @number %> </p>
        <p> Result: <%= @result %> </p>
    </div>
    <%= button_to "Go back", calc_input_path, :method => :get %>
  </div>
</body>
